<app-header />
<main class="w-100 d-flex align-items-center flex-column p-3">
    <h1>Sorteo</h1>
    <form class="w-75 mb-4" [formGroup]="form">
        <div class="d-flex flex-column">
            <div class="fields">
                <div class="form-floating mb-2 field">
                    <input type="date" class="form-control" id="startDate" placeholder="Fecha de inicio"
                        formControlName="startDate">
                    <label for="startDate">Fecha de inicio</label>
                    @if(startDate?.invalid && (startDate?.dirty || startDate?.touched)) {
                    <span>Fecha de inicio es obligatorio</span>
                    }
                </div>
                <div class="form-floating mb-3 field">
                    <input type="date" class="form-control" id="endDate" placeholder="Fecha de fin"
                        formControlName="endDate">
                    <label for="endDate">Fecha de fin</label>
                    @if(endDate?.invalid && (endDate?.dirty || endDate?.touched)) {
                    <span>Fecha de fin es obligatorio</span>
                    }
                </div>
            </div>
            <div class="fields">
                <div class="form-floating mb-3 field">
                    <input type="text" class="form-control" id="name" placeholder="Nombre de la lista"
                        formControlName="name">
                    <label for="name">Nombre de la lista</label>
                    @if(name?.invalid && (name?.dirty || name?.touched)) {
                    <span>Nombre de la lista es obligatorio</span>
                    }
                </div>
                <div class="form-floating mb-3 field">
                    <input type="text" class="form-control" id="quantity" placeholder="Cantidad de registros"
                        formControlName="quantity">
                    <label for="quantity">Cantidad de registros</label>
                    @if(quantity?.invalid && (quantity?.dirty || quantity?.touched)) {
                    <span>Cantidad de registros es obligatorio</span>
                    }
                </div>
            </div>
        </div>
        <a class="btn btn-success w-100 py-2 d-flex align-items-center justify-content-center mb-3"
            data-bs-toggle="modal" data-bs-target="#create" (click)="results()">
            Generar Ganadores
        </a>
        @if(resultsArray1.length > 0) {
            <a class="btn btn-success w-100 py-2 d-flex align-items-center justify-content-center mb-3"
            data-bs-toggle="modal" data-bs-target="#create" (click)="downloadResults()">
            Exportar resultados
        </a>
        }
    </form>
    <div class="w-75 d-flex justify-content-between mb-3">
        <h4>Total de participantes: {{ totalResults }}</h4>
    </div>
    <div class="w-75 card ">
        <div class="card-body">
            <h1 class="card-title text-center">Resultados</h1>
            <div class="content-list d-flex justify-content-evenly">
                @if(resultsArray1.length > 0) {
                    <ul class="list-group list-group-flush w-25 ">
                        @for (item of resultsArray1; track item.id) {
                        <li class="list-group-item">{{item.commerce}}</li>
                        }
                    </ul>
                    <ul class="list-group list-group-flush w-25 ">
                        @for (item of resultsArray2; track item.id) {
                        <li class="list-group-item">{{item.commerce}}</li>
                        }
                    </ul>
                } @else {
                    <p>No hay resultados</p>
                }
            </div>
        </div>
    </div>
</main>