<nav class="navbar navbar-expand-lg navbar-yellow bg-yellow">
    <a class="navbar-brand" href="#">
        <img src="images/logo.png" alt="Logo" width="150" height="30" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
            </li>
            @if(user?.typeUser == 1) {
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/establishment">Establecimientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/lottery">Sorteos</a>
                </li>
            }
        </ul>
        @if(user?.typeUser == 1) {
            <span class="navbar-text me-3 p-2 rounded" [ngClass]="{
                'bg-white text-dark': invoices < 150,
                'bg-warning text-dark': invoices >= 150 && invoices <= 250,
                'bg-danger text-white': invoices > 400
            }">
                {{ invoices }} facturas pendientes
            </span>
        }
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ user.name }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>