.content-img {
    height: 100%;
}

.content-pinch {
  height: calc(90vh - 105px) !important;
  border: 13px solid #D9D9D9;
  padding: 4px;
  border-radius: 4px;
}

.image-controls .control-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.image-controls .control-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.rotate-button {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  z-index: 10;
}

.selection-container{
    justify-content: center;
}

.suggestions-list {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  z-index: 1000;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #eee;
}

.product-scroll-container {
  max-height: 170px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}



.image-wrapper {
  width: 100%;
  height: calc(90vh - 100px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  position: relative;
}

.zoomable-image {
  max-width: 100%;
  user-select: none;
  pointer-events: none; /* evita conflictos de eventos */
}

.image-wrapper:active {
  cursor: grabbing;
}

.control-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Ocultar el ícono de zoom visual que agrega <pinch-zoom> */


.control-icon:hover {
  transform: scale(1.2);
}

.select-product {
  min-width: 300px;
  flex-grow: 1;
}

