<app-header />

<main class="w-100 d-flex">
    <section class="section-container">
        <pinch-zoom class="content-pinch">
            <img src="images/image1.jpg" width="60%" />
        </pinch-zoom>
    </section>
    <section class="section-container d-flex justify-content-center align-items-center">
        <div class="w-100 d-flex justify-content-center">
            <form class="w-75" [formGroup]="form">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nit" placeholder="Nit" formControlName="nit">
                    <label for="nit">Nit</label>
                    @if(nit?.invalid && (nit?.dirty || nit?.touched)) {
                    <span>Nit es obligatorio</span>
                    }
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Establecimiento" formControlName="name">
                    <label for="name">Establecimiento</label>
                    @if(name?.invalid && (name?.dirty || name?.touched)) {
                    <span>Establecimiento es obligatorio</span>
                    }
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="date" placeholder="Fecha" formControlName="date">
                    <label for="date">Fecha</label>
                    @if(date?.invalid && (date?.dirty || date?.touched)) {
                    <span>Fecha es obligatorio</span>
                    }
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="product" placeholder="Producto"
                        formControlName="product">
                    <label for="product">Producto</label>
                    @if(product?.invalid && (product?.dirty || product?.touched)) {
                    <span>Producto es obligatorio</span>
                    }
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="value" placeholder="Valor" formControlName="value">
                    <label for="value">Valor</label>
                    @if(value?.invalid && (value?.dirty || value?.touched)) {
                    <span>Valor es obligatorio</span>
                    }
                </div>
                <a class="btn btn-danger w-100 py-2 d-flex align-items-center justify-content-center mb-3"
                    data-bs-toggle="modal" data-bs-target="#reject">
                    Rechazar
                </a>
                <a class="btn btn-success w-100 py-2 d-flex align-items-center justify-content-center mb-3"
                    data-bs-toggle="modal" data-bs-target="#approve">
                    Aprobar
                </a>
                <a class="btn btn-primary w-100 py-2 d-flex align-items-center justify-content-center mb-3" (click)="updateData('nextOne')">
                    Saltar Factura
                </a>
            </form>
        </div>
    </section>
</main>


<div class="modal fade" id="reject" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark"
    tabindex="-1" aria-labelledby="rejectLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-white">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="rejectLabel">Rechazar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Selecciona el motivo de rechazo por el cual esta factura no aplica a la campaña.</p>
                <div>
                    <select class="form-control mb-3" name="rejectOptions" id="rejectOptions"
                        [(ngModel)]="rejectOptions">
                        <option value="" selected disabled>Seleccionar razon rechazo</option>
                        <option value="1">Establecimiento no participante</option>
                        <option value="2">Producto no participante</option>
                        <option value="3">Factura ya registrada</option>
                        <option value="4">Fuera del periodo de participacion</option>
                        <option value="5">Foto no legible</option>
                        <option value="5">Foto incorrecta</option>
                    </select>
                    <button class="btn btn-light w-100 py-2 d-flex align-items-center justify-content-center"
                        (click)="updateData('reject')" [disabled]="loading.reject">
                        Enviar
                        @if (loading.reject) {
                        <div class="spinner-border text-secondary ms-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approve" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-theme="dark"
    tabindex="-1" aria-labelledby="approveLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-white">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="approveLabel">Aceptar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>A continuacion se lista la información de la factua que estas validando, verifica esta información y
                    luego presiona el boton 'Aceptar' para confirmar la valides de la misma.</p>
                <div>
                    <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                                <td>Nit</td>
                                <td>{{ this.nit?.value }}</td>
                            </tr>
                            <tr>
                                <td>Establecimiento</td>
                                <td>{{ this.name?.value }}</td>
                            </tr>
                            <tr>
                                <td>Fecha</td>
                                <td>{{ this.date?.value }}</td>
                            </tr>
                            <tr>
                                <td>Producto</td>
                                <td>{{ this.product?.value }}</td>
                            </tr>
                            <tr>
                                <td>Valor</td>
                                <td>{{ this.value?.value | currency }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    <button class="btn btn-light w-100 py-2 d-flex align-items-center justify-content-center"
                        (click)="updateData('approve')" [disabled]="loading.approve">
                        Aceptar
                        @if (loading.approve) {
                        <div class="spinner-border text-secondary ms-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>